In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")
import sqlite3 as sql

In [2]:
con = sql.connect("Python Data Cleaning/remoteDB.db")
products = pd.read_sql_query("SELECT * from products", con)
purchases = pd.read_sql_query("SELECT * from purchases", con)
con.close()

print(products.head(5))
print(purchases.head(5))

   id                           product    cost   company
0   1              Liners - Baking Cups   $6.36  Skipfire
1   2        Nori Sea Weed - Gold Label  $85.74   Dynazzy
2   3                Bar Bran Honey Nut  $65.40      Ntag
3   4        Soup - Campbells Beef Stew  $68.16  Photojam
4   5  Wine - Shiraz Wolf Blass Premium  $87.39      Eare
   id purch_date  customer_num  product_num  amount     paid
0   1  3/01/2019           823           27      12  $568.92
1   2  3/01/2019           606           28      14  $395.36
2   3  3/01/2019           955            9      17  $510.17
3   4  3/01/2019           577           19       3   $68.49
4   5  3/01/2019           429            8      18  $759.42

In [4]:
print(products.shape)
print(products.dtypes)
print(products.describe(include="all"))

(60, 4)
id          int64
product    object
cost       object
company    object
dtype: object
               id             product    cost company
count   60.000000                  60      60      55
unique        NaN                  58      59      50
top           NaN  Bar Bran Honey Nut  $13.83    Ntag
freq          NaN                   2       2       2
mean    30.500000                 NaN     NaN     NaN
std     17.464249                 NaN     NaN     NaN
min      1.000000                 NaN     NaN     NaN
25%     15.750000                 NaN     NaN     NaN
50%     30.500000                 NaN     NaN     NaN
75%     45.250000                 NaN     NaN     NaN
max     60.000000                 NaN     NaN     NaN